body{
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    }
h1 {
    color: #007acc;
    margin-bottom: 20px;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
}
a {
    color: #007acc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(7, 10, 11, 0.36);
    backdrop-filter: blur(8px);
    padding: 10px 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

